@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

@font-face {
  font-family: coconat;
  src: url(font/Coconat-Regular.otf);
}

@font-face {
  font-family: montserrat;
  src: url(font/Montserrat-Regular.otf);
}

body {
  overflow-x: hidden;
}

.navbar {
  padding: 10px 0;
  font-family: montserrat;
}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #272725;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.nav-item {
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #272725;
  color: #f2f2f2;
  font-family: montserrat;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #272725;
  padding: 5px 10px;
}
.btn {
  display: inline-block;
  margin: 2em 0 0;
  border: none;
  font-weight: 800;
  font-family: montserrat;
}

.banner {
  position: relative;
  background: url(latar.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 70%;
  background-position: center;
  image-rendering: auto;
  padding: 250px 0 200px;
  padding-top: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Heebo", coconat;
}

.banner h2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 1000;
  color: #272725;
}

.modal-body {
  color: #272725;
  font-family: montserrat;
}

.list-group {
  color: #272725;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(51, 56, 58);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 2.7rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
